a {
    text-decoration:none;
}

#about {
    background-color: linen;
    color:#23001E;
    margin:auto;
    min-width:330px;
    min-height: 100vh;
    padding:50px 10px 10px 10px;
    text-align: center;
    text-shadow: 0px 0px 0.5px indigo;
}

.about p:nth-of-type(2) {
    margin-top:60px;
}

.arrow-left,
.arrow-right {
    cursor:pointer;
    display:flex;
        align-items: center;
        justify-content: center;
    min-height:100vh;
    min-width:10vw;
    z-index:2;
}

.arrow-left {
    position:absolute;
        left:0;
}

.arrow-left img,
.arrow-right img {
    width:50px;
}

.arrow-right {
    position:absolute;
        right:0;
}

body {
    font-family: "raleway", "roboto", "arial", sans-serif;
    height:100%;
    margin:0;
    width:100%;
}

.carousel {
    border-radius:10px;
    box-shadow: 0px 0px 10px 2px lightgoldenrodyellow;
    display:flex;
        align-items: center;
        justify-content: center;
    font-weight: bold;
    min-height:100vh;
    min-width:275px;
    width:35vw;
    position:absolute;
    transition: ease-in-out 500ms;
    z-index:1;
}

.carousel div { 
    cursor:pointer;
    display:flex;
        align-items: center;
        justify-content: center;
    height:100%;
    position:absolute;
    width:100%;
    z-index:1;
}

#carousel-left {
    min-height: 90vh;
    min-width:25vw;
    position:absolute;
        left:10%;
    z-index:0;
}

#carousel-right {
    min-height: 90vh;
    min-width:25vw;
    position:absolute;
        right:10%;
    z-index:0;
}

#contacts {
    align-items: center;
    background-color: ghostwhite;
    display:flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content:space-evenly;
    min-height:100vh;
    min-width:330px;
    padding:0px 40px;
    text-align: center;
    text-shadow: 0px 0px 0.5px red;
}

#contacts a {
    color:maroon;
}

#contacts img {
    width:100px;
    height:100px;
}

footer {
    background-color: whitesmoke;
    display: flex;
    font-family: monospace;
    font-size:small;
    justify-content:space-around;
    padding:5px;
}

footer a {
    color:brown;
}

footer li {
    display:inline-block;
    margin:0 30px;
    padding-bottom:1px;
}

h1 {
    font-family: "luminari", "Academy Engraved Let";
    font-size:30px;
}

h2 {
    font-family: "snell roundhand", "zapfino", "Academy Engraved Let";
    font-size:28px;
}

h3 {
    font-size:24px;
}

.hello {
    font-family: "savoye let", "brush script mt";
}

.name {
    background:linear-gradient(wheat,lightgoldenrodyellow);
    color:coral;
    font-family:"luminari", "cochin";
    font-size:1.4rem;
    font-weight:bold;
    padding:10px 0px;
    position:absolute;
        bottom:25px;
    text-shadow: 0px 0px 0.5px indigo;
    width:100%;
}

#navbar {
    font-family: "luminari", "cochin" ;
    font-weight: bold;
    margin:10px;
    position:fixed;
    right:0;
    top:0;
    z-index:3;   
}

#navbar a {
    color:darkgreen;
}

#navbar li {
    margin:10px 5px;
    text-shadow: 0px 0px 0.5px lime;
}

p {
    font-size:18px;
    line-height: 24px;
    margin: 25px auto;
    padding: 0px 10px;
    text-align:center;
}

.portfolio-title {
    font-family: "luminari", "zapfino", "Academy Engraved Let";
    margin-top:60px;
}

#projects {
    align-items: center;
    background-color: mintcream;
    display:flex;
    justify-content: center;
    min-width:330px;
    min-height:100vh;
    padding:20px 5px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}


@media (max-width: 1125px) {
    
    #about {
        padding: 50px 85px 10px 10px;
    }

    .about p:nth-of-type(2) {
        margin-top:50px;
    }
   
}

@media (max-width: 840px) {

    #about {
        padding: 50px 10px 10px 10px;
    }

    #contacts {
        gap:70px;
    }

    #contacts img {
        width:95px;
        height:95px;
    }

    footer li {
        display:inline-block;
        font-size:x-small;
        margin:0 5px;
    }

    #navbar {
        background: linen;
        box-shadow: 0 0 10px 1px linen;
        margin:0 auto;
        min-width:330px;
        width:100%;
        display:flex;
        justify-content: space-evenly;
    }

    #navbar li {
        display:inline;
        margin:0px 50px;
    }

}


@media (max-width: 550px) {

    .about p:nth-of-type(2) {
        margin-top: 40px;
    }

    #contacts {
        gap:35px;
        padding:28px;
    }

    #contacts img {
        width:90px;
        height:90px;
    }

    #navbar li {
        margin:0px 30px;
    }

    .portfolio-title{
        margin:50px 0 5px 0;
    }

}


@media (max-width: 440px) {

    #about {
    padding: 40px 10px 10px 10px;
    }

    .about p:nth-of-type(2) {
        margin-top: 30px;
    }

    #carousel-left {
        min-height: 80vh;
    }

    #carousel-middle {
        min-height: 90vh;
    }

    #carousel-right {
        min-height:80vh;
    }

    #contacts {
        gap:20px;
        padding:20px;
    }

    #navbar li {
        margin:0px 20px;
    }

}
